node_modules/
.env
.env.production

### Ignore backend cache and virtual environment
__pycache__/
backend/venv/

### Ignore frontend build and dependencies
frontend/node_modules/
frontend/build/

.venv/
.vscode/