services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} -h db"]
      interval: 2s
      timeout: 2s
      retries: 10


  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:5000"
    volumes:
      - ./backend:/app
    environment:
      FRONTEND_URLS: http://localhost:${FRONTEND_PORT}
      ENV: development
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      JWT_ALGORITHM: ${JWT_ALGORITHM}
      JWT_ACCESS_TOKEN_EXPIRE_MINUTES: ${JWT_ACCESS_TOKEN_EXPIRE_MINUTES}
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      DRAWING_UPLOAD_DIR: ${DRAWING_UPLOAD_DIR}


    depends_on:
      db:
        condition: service_healthy 

  frontend: 
    build:
      context: ./frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    environment:
      NODE_ENV: development
      VITE_BACKEND_URL: http://localhost:${BACKEND_PORT}
    volumes:
    - ./frontend:/app:cached
    - frontend_node_modules:/app/node_modules

    command: npm run dev -- --host 0.0.0.0
    
volumes:
  frontend_node_modules:
  db_data:
