services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} -h db"]
      interval: 2s
      timeout: 2s
      retries: 10


  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:5000"
    volumes:
      - ./backend:/app
    environment:
      FRONTEND_URLS: http://localhost:${FRONTEND_PORT}
      ENV: development
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
    depends_on:
      db:
        condition: service_healthy

  frontend: 
    build:
      context: ./frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    environment:
      NODE_ENV: development
      VITE_API_URL: http://localhost:${BACKEND_PORT}/api
    volumes:
    - ./frontend:/app:cached       # Mount source for hot reload

    command: npm run dev -- --host 0.0.0.0
volumes:
  frontend_node_modules:
  db_data:
