services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} -h db"]
      interval: 2s
      timeout: 2s
      retries: 10


  backend:
    build: ./backend 
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT}:5000"
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "${FRONTEND_PORT}:3000"
    volumes:
      - ./frontend:/app:cached         # Mount your local files
      - frontend_node_modules:/app/node_modules  # Keep node_modules in container

    command: npm start

volumes:
  frontend_node_modules:
  db_data:
