body {
  margin: 0;
  font-family: "Alvera Regular Square", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  touch-action: none;
}

html,
body {
  scroll-behavior: smooth;
}

code {
  font-family: "Alvera Regular Square", sans-serif;
} 
:root {
  --color_1: #171717;
  --color_2: #232522;
  --color_3: #2f332d;
  --color_4: #4d4193;
  --color_5: #5c48c6;
  --color_6: #6a4ef8;
  --color_7: #b1a3f5;
  --color_8: #f9f7f1;
  --color_9: #f1f1f1;
  --color_10: #ffffff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #f1f1f1;
  overflow: hidden;
  background: linear-gradient(to bottom, #202020, #111119);
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.75s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }

  30% {
    transform: translateY(20vh);
  }

  100% {
    transform: translateY(100vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
  animation: stem 0.75s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.blinking-underscore {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
 
.fade-in {
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInScale 0.4s ease forwards;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.blinking-underscore {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}
 
/* Animation */
.anim-typewriter{
  animation: typewriter 2.5s steps(30)  normal both
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%; overflow:visible}
} 